<br>

    <div fxLayout="row">
      
      <div class="col-md-3 offset-md-3">
            <mat-form-field class="example-full-width">
              <input matInput  placeholder="Buscador" type="text" name="filterPost" [(ngModel)]="filterPost">
            </mat-form-field>
      </div>

      <div fxLayoutAlign=" center" class="col-md-2 offset-md-2">
            <button mat-raised-button color="success" style="margin-left: -12%;" (click)="openDialogAdd()"><mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>AGREGAR</button>
      </div>

    </div>

  



<div fxLayout="column" fxLayoutAlign=" center center">
 
<br>


<table class="table table-hover">
 <thead>
 <tr>
      <th scope="col"> No. </th>
      <th scope="col"> Nombre </th>
      <th scope="col"> Cedula </th>
      <th scope="col"> Ciudad </th>
      <th scope="col"> Opciones </th>
  </tr>
</thead>
    <tbody>
      <tr *ngFor="let element of datos  | filter:filterPost | paginate: { itemsPerPage: 5, currentPage: pageActual }">
        <td> {{element.id}} </td>
        <td> {{element.nombre}} </td>
        <td> {{element.cedula}} </td>
        <td> {{element.ciudad}} </td>
        <td>
          <button mat-button color="primary" style="margin-left: 5%;" (click)="openDialogEdit(element)"><mat-icon aria-hidden="false" aria-label="Example home icon">create</mat-icon> </button>
          <button mat-button color="warn"  style="margin-left: 5%;" (click)="openDialogDelete(element)"><mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon> </button>  
        </td>
      </tr>
    </tbody>
  </table>
</div>


  <ngx-spinner></ngx-spinner>
  
<br>


<br>

<div class="col-sm-6 offset-sm-6">

  <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
</div>




